.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-header-primarytext {
  font-size: calc(10px + 2vmin);
  padding-bottom: 12px;
}

.App-header-subtext {
  font-size: 14px;
  padding-bottom: 8px;
}

.App-link {
  color: #61dafb;
}

.TabGroup {
  font-size: 14px;
  padding-bottom: 8px;
  color: white;
}

.HeaderLine {
  width: 100%;
}

.Turret-View-Layout {
  display: flex;
  padding-left: 16px;
}

.Turret-Buttons-Row {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 16px;
}

.Turret-Buttons {
  width: 150px;
}

.Turret-Table-Obtained-Column {
  width: 75px;
}

.Turret-Table-Material-Column {
  width: 250px;
}

.Turret-Table-Qty-Column {
  width: 100px;
}

.Turret-Table-Cost-Column {
  width: 100px;
}

.Turret-Table-Calculated-Column {
  width: 100px;
}

.Turret-Stat-Card {
  padding-left: 40px;
  padding-top: 60px;
}

.Turret-Stat-Card-Title-Spacer {
  padding-top: 16px;
}

.Turret-Stat-Card-Field-Column {
  width: 120px;
}

.Turret-Stat-Card-Info-Column {
  width: 250px;
}